a:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #000;
    vertical-align: middle;
    z-index: 1;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: #000;
    z-index: 1;
}

div.container nav.navbar-fixed-top {
    position: fixed;
    left: 0;
    top: 150px;
    min-width: 1000px;
}

/*.navbar-nav.nav-justified > li{
    float:none;
}*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#contenido {
    margin-top: 200px;
    margin-bottom: 100px;
}


#menu-principal {
    height: 44px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pequeno {
    width: 120px !important;
}

.mediano {
    width: 200px !important;
}

.largo {
    width: 400px !important;
}

h1 {
    padding: 30px;
    margin-bottom: 10px;
}


.nav li {
    display: inline-block;
    text-align: center;
}

label{
    margin-right: 3px;
    vertical-align: middle;
}

#search
{
    display: table;
    margin: 0 auto;
}

#search li {
    padding: 15px;
}

#btnSearch{ 
    margin-left: -4px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    height: 35px;
}

#btnNew{ 
    border-width: 1px;
    height: 35px;
}

#inptSearch{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    height: 35px;
    width: 450px;
}

.between-margin-left{
    margin-left: 5px;
}

.between-margin-right{
    margin-right: 5px;
}

.between-margin-top{
    margin-top: 80px;
}

table tbody tr{
    padding: 3px;
    height: 15px;
    vertical-align: middle;
}

#tipo{
    min-width: 170px;
    height: 35px;
}

#tipo-select{
    min-width: 100px;
    height: 35px;
}

.float-right{
    float: right;
}

.row-inline li{
    display: inline-block;
    text-decoration: none;
    float: right;
    padding: 10px;
}

.row-custom{
    width: 421px;
}

#btnSearchComplete{ 
    height: 35px;    
    margin-left: 5px;
    margin-right: 10px;
}

#btnInTable{
    border-width: 0px;
}

.footer{
    margin-top: 15px !important;
}

textarea{
    height: 150px !important;
    overflow: auto;
    resize: none;
}

.block{
    display: block;
    width: 58%;
    float: right;
}

.block button
{
    margin: 10px;
    margin-left: 14px;
}