a:hover {
    cursor: pointer;
}

body {
    background-color: #fde5d4;
}

div#contenido {
    background-color: #fef7f1;
    min-height: 568px;
}

.pequeno {
    width: 120px !important;
}

.mediano {
    width: 200px !important;
}

.largo {
    width: 400px !important;
}